.header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 2.25rem;
  border-bottom: 1px solid #44403c;
  padding-inline: 1rem;
  color: #44403c;
  font-size: 0.75rem;
  line-height: 1rem;
}

.appName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .header {
    justify-content: center;
    height: 2rem;
    padding-inline: 1.5rem;
  }
}
