.layout {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100svh;
  overflow: hidden;
  padding-top: 3rem;
  background-color: #f3f8ed;
  color: #263224;
}

@media (min-width: 768px) {
  .layout {
    padding-top: 3.25rem;
  }
}
